<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JJSandBoxDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>69B6E5171BF2541B00432C04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69B6E5301BF2541C00432C04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69B6E53B1BF2541C00432C04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
